### Dataset 01 : Cambodia Total Trade Statistics of Last 5 Years

In [48]:
import requests
import pandas as pd

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_66bdb35549eb6c00013c1350/json?page=1&page_size=10"
response = requests.get(url)
data01 = response.json()

# Extract the 'items' list
items = data01['items']
df = pd.DataFrame(items)
df = df.drop(columns=['row_number'])
df.head()

     year       export       import      balance       volume
0  1970.0  14748738.00  20171813.00 -5423073.000  34920551.00
1  1970.0  18342259.00  19100028.00  -757768.000  37442285.00
2  1970.0  19308910.00  28702889.66 -9393979.662  48011799.65
3  1970.0  19308910.00  28702889.66 -9393979.662  48011799.65
4  1970.0  22644989.33  24183042.79 -1538053.465  46828032.13

In [49]:
df.rename(columns={'total trade statistics of last 5 years' : 'Year'}, inplace=True)
df

     year       export       import      balance       volume
0  1970.0  14748738.00  20171813.00 -5423073.000  34920551.00
1  1970.0  18342259.00  19100028.00  -757768.000  37442285.00
2  1970.0  19308910.00  28702889.66 -9393979.662  48011799.65
3  1970.0  19308910.00  28702889.66 -9393979.662  48011799.65
4  1970.0  22644989.33  24183042.79 -1538053.465  46828032.13

In [52]:
df['Year'] = df['year'].astype('Int64')
df

     year       export       import      balance       volume  Year
0  1970.0  14748738.00  20171813.00 -5423073.000  34920551.00  1970
1  1970.0  18342259.00  19100028.00  -757768.000  37442285.00  1970
2  1970.0  19308910.00  28702889.66 -9393979.662  48011799.65  1970
3  1970.0  19308910.00  28702889.66 -9393979.662  48011799.65  1970
4  1970.0  22644989.33  24183042.79 -1538053.465  46828032.13  1970

In [54]:
df = df.drop(columns=['year'])
df

        export       import      balance       volume  Year
0  14748738.00  20171813.00 -5423073.000  34920551.00  1970
1  18342259.00  19100028.00  -757768.000  37442285.00  1970
2  19308910.00  28702889.66 -9393979.662  48011799.65  1970
3  19308910.00  28702889.66 -9393979.662  48011799.65  1970
4  22644989.33  24183042.79 -1538053.465  46828032.13  1970

In [55]:
df['Year'].first_valid_index
df

        export       import      balance       volume  Year
0  14748738.00  20171813.00 -5423073.000  34920551.00  1970
1  18342259.00  19100028.00  -757768.000  37442285.00  1970
2  19308910.00  28702889.66 -9393979.662  48011799.65  1970
3  19308910.00  28702889.66 -9393979.662  48011799.65  1970
4  22644989.33  24183042.79 -1538053.465  46828032.13  1970

In [51]:
df.dtypes

year       float64
export     float64
import     float64
balance    float64
volume     float64
dtype: object

In [21]:
df.dtypes

Year         int32
export     float64
import     float64
balance    float64
volume     float64
dtype: object

In [56]:
df.to_csv('06-Cambodia Total Trade Statistics of Last 5 Years.csv',index=False)
print("Data saved to 'Cambodia Total Trade Statistics of Last 5 Years.csv'")

Data saved to 'Cambodia Total Trade Statistics of Last 5 Years.csv'

### Dataset 07: Cambodia's Economic Overview and Future Outlook (2015-2029)

In [58]:
import requests

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_681bb9e6dbc953000126f5c4/json?page=1&page_size=100"
response = requests.get(url)
data02 = response.json()

# Extract the 'items' list
items = data02['items']
df = pd.DataFrame(items)
df = df.drop(columns=['row_number'])
df.head()

,country,subject descriptor,units,scale,2015,2016,2017,2018,2019,2020,...,2022,2023,2024,2025,2026,2027,2028,2029,estimates start after,country/series-specific notes
0,Cambodia,"Gross domestic product, constant prices",National currency,Billions,95406.13,102948.46,111261.59,121026.15,130631.94,125987.03,...,136508.08,143330.78,151205.33,159967.86,169914.79,180270.46,191116.81,202576.11,2022.0,Source: National Statistics Office Latest actu...
1,Cambodia,"Gross domestic product, constant prices",Percent change,Units,7.21,7.91,8.08,8.78,7.94,-3.56,...,5.10,5.00,5.49,5.80,6.22,6.10,6.02,6.00,2022.0,"See notes for: Gross domestic product, consta..."
2,Cambodia,"Gross domestic product, current prices",National currency,Billions,98334.48,107784.91,118907.47,134279.54,148984.70,142502.83,...,164059.09,177718.89,192974.85,209966.12,229412.00,250430.67,273110.41,297733.52,2022.0,Source: National Statistics Office Latest actu...
3,Cambodia,"Gross domestic product, current prices",U.S. dollars,Billions,24.22,26.59,29.39,33.18,36.68,34.90,...,39.84,43.30,47.15,51.16,55.75,60.69,66.01,71.76,2022.0,"See notes for: Gross domestic product, curren..."
4,Cambodia,"Gross domestic product, current prices",Purchasing power parity; international dollars,Billions,67.74,73.79,81.17,91.41,101.43,99.39,...,118.99,129.43,139.80,150.59,162.92,176.03,190.04,205.13,2022.0,"See notes for: Gross domestic product, curren..."

In [60]:
df = df.transpose()
import pandas as pd

# Assume df is your DataFrame

# Identify columns that are years (they're numeric strings or integers)
year_columns = [col for col in df.columns if str(col).isdigit()]

# Melt the DataFrame to long format
df_long = pd.melt(
    df,
    id_vars=[col for col in df.columns if col not in year_columns],  # keep text columns
    value_vars=year_columns,                                         # melt only year columns
    var_name='Year',                                                 # new column for years
    value_name='Value'                                               # new column for data values
)

# Convert Year to integer if needed
df_long['Year'] = df_long['Year'].astype(int)

# Display result
df_long.head()

,country,subject descriptor,units,scale,estimates start after,country/series-specific notes,Year,Value
0,Cambodia,"Gross domestic product, constant prices",National currency,Billions,2022.0,Source: National Statistics Office Latest actu...,2015,95406.13
1,Cambodia,"Gross domestic product, constant prices",Percent change,Units,2022.0,"See notes for: Gross domestic product, consta...",2015,7.21
2,Cambodia,"Gross domestic product, current prices",National currency,Billions,2022.0,Source: National Statistics Office Latest actu...,2015,98334.48
3,Cambodia,"Gross domestic product, current prices",U.S. dollars,Billions,2022.0,"See notes for: Gross domestic product, curren...",2015,24.22
4,Cambodia,"Gross domestic product, current prices",Purchasing power parity; international dollars,Billions,2022.0,"See notes for: Gross domestic product, curren...",2015,67.74

In [61]:
# Convert to integer year safely
df_long['estimates start after'] = df_long['estimates start after'].astype(float).astype('Int64')
df_long['Year'] = df_long['Year'].astype(int)
df_long

,country,subject descriptor,units,scale,estimates start after,country/series-specific notes,Year,Value
0,Cambodia,"Gross domestic product, constant prices",National currency,Billions,2022,Source: National Statistics Office Latest actu...,2015,95406.13
1,Cambodia,"Gross domestic product, constant prices",Percent change,Units,2022,"See notes for: Gross domestic product, consta...",2015,7.21
2,Cambodia,"Gross domestic product, current prices",National currency,Billions,2022,Source: National Statistics Office Latest actu...,2015,98334.48
3,Cambodia,"Gross domestic product, current prices",U.S. dollars,Billions,2022,"See notes for: Gross domestic product, curren...",2015,24.22
4,Cambodia,"Gross domestic product, current prices",Purchasing power parity; international dollars,Billions,2022,"See notes for: Gross domestic product, curren...",2015,67.74
...,...,...,...,...,...,...,...,...
550,Cambodia,General government gross debt,National currency,Billions,2022,Source: Ministry of Finance or Treasury Latest...,2029,78448.67
551,Cambodia,General government gross debt,Percent of GDP,Units,2022,See notes for: General government gross debt ...,2029,26.35
552,Cambodia,Gross domestic product corresponding to fiscal...,National currency,Billions,2022,Source: Ministry of Finance or Treasury Latest...,2029,297733.52
553,Cambodia,Current account balance,U.S. dollars,Billions,2022,Source: Central Bank Latest actual data: 2023 ...,2029,-2.16
554,Cambodia,Current account balance,Percent of GDP,Units,2022,"See notes for: Gross domestic product, curren...",2029,-3.02

In [ ]:
# Reorder and rename columns for clarity
df_long = df_long[[
    'Year',
    'estimates start after',
    'country',
    'subject descriptor',
    'units',
    'Value',
    'scale',
    'country/series-specific notes'
]]
df_long

,Year,estimates start after,country,subject descriptor,units,Value,scale,country/series-specific notes
0,2015,2022,Cambodia,"Gross domestic product, constant prices",National currency,95406.13,Billions,Source: National Statistics Office Latest actu...
1,2015,2022,Cambodia,"Gross domestic product, constant prices",Percent change,7.21,Units,"See notes for: Gross domestic product, consta..."
2,2015,2022,Cambodia,"Gross domestic product, current prices",National currency,98334.48,Billions,Source: National Statistics Office Latest actu...
3,2015,2022,Cambodia,"Gross domestic product, current prices",U.S. dollars,24.22,Billions,"See notes for: Gross domestic product, curren..."
4,2015,2022,Cambodia,"Gross domestic product, current prices",Purchasing power parity; international dollars,67.74,Billions,"See notes for: Gross domestic product, curren..."
...,...,...,...,...,...,...,...,...
550,2029,2022,Cambodia,General government gross debt,National currency,78448.67,Billions,Source: Ministry of Finance or Treasury Latest...
551,2029,2022,Cambodia,General government gross debt,Percent of GDP,26.35,Units,See notes for: General government gross debt ...
552,2029,2022,Cambodia,Gross domestic product corresponding to fiscal...,National currency,297733.52,Billions,Source: Ministry of Finance or Treasury Latest...
553,2029,2022,Cambodia,Current account balance,U.S. dollars,-2.16,Billions,Source: Central Bank Latest actual data: 2023 ...
554,2029,2022,Cambodia,Current account balance,Percent of GDP,-3.02,Units,"See notes for: Gross domestic product, curren..."

In [63]:
df_long.to_csv("07-Cambodia's Economic Overview and Future Outlook (2015-2029).csv", index=False)