In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Dataset 01: Access to electricity (% of population) - Cambodia
(https://data.mef.gov.kh/datasets/pd_67614347255e6c000124824d)

In [2]:
import requests

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_67614347255e6c000124824d/json?page=1&page_size=100"
response = requests.get(url)
data01 = response.json()
data01

{'items': [{'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 1998.0,
   'value': 18.67,
   'row_number': 1},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 1999.0,
   'value': 8.820036888,
   'row_number': 2},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2000.0,
   'value': 16.6,
   'row_number': 3},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2001.0,
   'value': 9.5,
   'row_number': 4},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2002.0,
   'value': 13.1,
   'row_number': 5},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2003.0,
   'value': 19.3,
   'row_number': 6},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2004.0,
   'value': 14.2,
   'row_number': 7},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2005.0,
   'value': 20.5,
   'row_number': 8},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2006.0,
   'value': 27.5,
   'row_number': 9},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2007.0,
   'value': 20.2,
   'row_number': 10},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2008.0,
   'value': 26.4,
   'row_number': 11},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2009.0,
   'value': 25.6,
   'row_number': 12},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2010.0,
   'value': 31.1,
   'row_number': 13},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2011.0,
   'value': 37.4,
   'row_number': 14},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2012.0,
   'value': 42.3,
   'row_number': 15},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2013.0,
   'value': 50.9,
   'row_number': 16},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2014.0,
   'value': 56.1,
   'row_number': 17},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2015.0,
   'value': 62.7,
   'row_number': 18},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2016.0,
   'value': 68.8,
   'row_number': 19},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2017.0,
   'value': 89.1,
   'row_number': 20},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2018.0,
   'value': 80.7,
   'row_number': 21},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2019.0,
   'value': 84.0,
   'row_number': 22},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2020.0,
   'value': 86.4,
   'row_number': 23},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2021.0,
   'value': 82.5,
   'row_number': 24},
  {'country name': 'Cambodia',
   'country code': 'KHM',
   'indicator name': 'Access to electricity (% of population)',
   'indicator code': 'EG.ELC.ACCS.ZS',
   'year': 2022.0,
   'value': 92.3,
   'row_number': 25}],
 'total_items': 25,
 'page': 1,
 'page_size': 100,
 'total_pages': 1}

In [3]:
import requests
import pandas as pd

# Extract the 'items' list
items = data01['items']

df01 = pd.DataFrame(items, index=None)
df01

,country name,country code,indicator name,indicator code,year,value,row_number
0,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,1998.0,18.670000,1
1,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,1999.0,8.820037,2
2,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2000.0,16.600000,3
3,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2001.0,9.500000,4
4,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2002.0,13.100000,5
5,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2003.0,19.300000,6
6,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2004.0,14.200000,7
7,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2005.0,20.500000,8
8,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2006.0,27.500000,9
9,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2007.0,20.200000,10
10,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2008.0,26.400000,11
11,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2009.0,25.600000,12
12,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2010.0,31.100000,13
13,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2011.0,37.400000,14
14,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2012.0,42.300000,15
15,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2013.0,50.900000,16
16,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2014.0,56.100000,17
17,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2015.0,62.700000,18
18,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2016.0,68.800000,19
19,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2017.0,89.100000,20
20,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2018.0,80.700000,21
21,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2019.0,84.000000,22
22,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2020.0,86.400000,23
23,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2021.0,82.500000,24
24,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2022.0,92.300000,25

In [4]:
df01['year'] = df01['year'].astype('int64')
df01

,country name,country code,indicator name,indicator code,year,value,row_number
0,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,1998,18.670000,1
1,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,1999,8.820037,2
2,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2000,16.600000,3
3,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2001,9.500000,4
4,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2002,13.100000,5
5,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2003,19.300000,6
6,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2004,14.200000,7
7,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2005,20.500000,8
8,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2006,27.500000,9
9,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2007,20.200000,10
10,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2008,26.400000,11
11,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2009,25.600000,12
12,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2010,31.100000,13
13,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2011,37.400000,14
14,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2012,42.300000,15
15,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2013,50.900000,16
16,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2014,56.100000,17
17,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2015,62.700000,18
18,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2016,68.800000,19
19,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2017,89.100000,20
20,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2018,80.700000,21
21,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2019,84.000000,22
22,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2020,86.400000,23
23,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2021,82.500000,24
24,Cambodia,KHM,Access to electricity (% of population),EG.ELC.ACCS.ZS,2022,92.300000,25

In [5]:
df01.dtypes

country name       object
country code       object
indicator name     object
indicator code     object
year                int64
value             float64
row_number          int64
dtype: object

In [6]:
df01.to_csv("01-Access to electricity (%_of_population) in Cambodia.csv", index=False)

### Dataset 02: Administering Vitamin A Supplements to Children
(https://data.mef.gov.kh/api/v1/public-datasets/pd_6777c5b693d4f00001fc5785/json?page=1&page_size=10)

In [7]:
import requests

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_6777c5b693d4f00001fc5785/json?page=1&page_size=100"
response = requests.get(url)
data02 = response.json()

# Extract the 'items' list
items = data02['items']
df02 = pd.DataFrame(items, index=None)
df02

,រាជធានី ខេត្ត,ប្រុស,ស្រី,ចំនួនសរុបកុមារ ៦-៥៩ខែ,ប្រុស1,ស្រី1,ដំណាល់កាលទី១(មករា-មិថុនា),ប្រុស2,ស្រី2,ដំណាល់កាលទី២(កក្កដា-ធ្នូ),row_number
0,ខេត្តបន្ទាយមានជ័យ,72172.0,79307.0,151479.0,34617.0,36605.0,71222.0,37555.0,42702.0,80257.0,1
1,ខេត្តបាត់ដំបង,103815.0,113397.0,217212.0,51466.0,56489.0,107955.0,52349.0,56908.0,109257.0,2
2,ខេត្តកំពង់ចាម,79855.0,90810.0,170665.0,39568.0,45292.0,84860.0,40287.0,45518.0,85805.0,3
3,ខេត្តកំពង់ឆ្នាំង,36865.0,43368.0,80233.0,18045.0,20978.0,39023.0,18820.0,22390.0,41210.0,4
4,ខេត្តកំពង់ស្ពឺ,39925.0,49649.0,89574.0,20128.0,24466.0,44594.0,19797.0,25183.0,44980.0,5
5,ខេត្តកំពង់ធំ,17362.0,19730.0,37092.0,7750.0,8812.0,16562.0,9612.0,10918.0,20530.0,6
6,ខេត្តកំពត,42337.0,50490.0,92827.0,20537.0,24579.0,45116.0,21800.0,25911.0,47711.0,7
7,ខេត្តកណ្តាល,90031.0,101115.0,191146.0,46387.0,53016.0,99403.0,43644.0,48099.0,91743.0,8
8,ខេត្តកោះកុង,11700.0,13279.0,24979.0,5999.0,6804.0,12803.0,5701.0,6475.0,12176.0,9
9,ខេត្តក្រចេះ,19815.0,23184.0,42999.0,13365.0,14419.0,27784.0,6450.0,8765.0,15215.0,10
10,ខេត្តមណ្ឌលគីរី,6505.0,7953.0,14458.0,3521.0,3927.0,7448.0,2984.0,4026.0,7010.0,11
11,ភ្នំពេញ,59955.0,71625.0,131580.0,28721.0,36991.0,65712.0,31234.0,34634.0,65868.0,12
12,ខេត្តព្រះវិហារ,23859.0,28079.0,51938.0,11791.0,14022.0,25813.0,12068.0,14057.0,26125.0,13
13,ខេត្តព្រៃវែង,90765.0,106575.0,197340.0,46469.0,54471.0,100940.0,44296.0,52104.0,96400.0,14
14,ខេត្តពោធិ៍សាត់,55106.0,59666.0,114772.0,26463.0,28392.0,54855.0,28643.0,31274.0,59917.0,15
15,ខេត្តរតនគិរី,22584.0,23998.0,46582.0,11123.0,11987.0,23110.0,11461.0,12011.0,23472.0,16
16,ខេត្តសៀមរាប,104106.0,114840.0,218946.0,52254.0,58150.0,110404.0,51852.0,56690.0,108542.0,17
17,ខេត្តព្រះសីហនុ,10473.0,11932.0,22405.0,4589.0,4953.0,9542.0,5884.0,6979.0,12863.0,18
18,ខេត្តស្ទឹងត្រែង,16203.0,18107.0,34310.0,8781.0,8974.0,17755.0,7422.0,9133.0,16555.0,19
19,ខេត្តស្វាយរៀង,25745.0,27523.0,53268.0,15974.0,17584.0,33558.0,9771.0,9939.0,19710.0,20
20,ខេត្តតាកែវ,80091.0,88052.0,168143.0,41641.0,46323.0,87964.0,38450.0,41729.0,80179.0,21
21,ខេត្តឧត្ដរមានជ័យ,23551.0,24614.0,48165.0,13607.0,14183.0,27790.0,9944.0,10431.0,20375.0,22
22,ខេត្តកែប,3146.0,3891.0,7037.0,1290.0,1655.0,2945.0,1856.0,2236.0,4092.0,23
23,ខេត្តប៉ៃលិន,4907.0,5098.0,10005.0,3135.0,3292.0,6427.0,1772.0,1806.0,3578.0,24
24,ខេត្តត្បូងឃ្មុំ,60060.0,71167.0,131227.0,30209.0,35784.0,65993.0,29851.0,35383.0,65234.0,25
25,មន្ទីពេទ្យជាតិ,1994.0,1837.0,3831.0,962.0,920.0,1882.0,1032.0,917.0,1949.0,26

In [8]:
import pandas as pd

df02.rename(columns={
    "រាជធានី ខេត្ត": "Capital_Province",
    "ប្រុស": "Male",
    "ស្រី": "Female",
    "ចំនួនសរុបកុមារ ៦-៥៩ខែ": "Total_Children_Aged_6-59_of_Months",
    "ប្រុស1": "Male_(Phase_1)",
    "ស្រី1": "Female_(Phase_1)",
    "ដំណាល់កាលទី១(មករា-មិថុនា)": "Total_Phase_1(Jan-Jun)",
    "ប្រុស2": "Male_(Phase_2)",
    "ស្រី2": "Female_(Phase_2)",
    "ដំណាល់កាលទី២(កក្កដា-ធ្នូ)": "Total_Phase_2(Jul-Dec)",
}, inplace=True)

df02.head()

,Capital_Province,Male,Female,Total_Children_Aged_6-59_of_Months,Male_(Phase_1),Female_(Phase_1),Total_Phase_1(Jan-Jun),Male_(Phase_2),Female_(Phase_2),Total_Phase_2(Jul-Dec),row_number
0,ខេត្តបន្ទាយមានជ័យ,72172.0,79307.0,151479.0,34617.0,36605.0,71222.0,37555.0,42702.0,80257.0,1
1,ខេត្តបាត់ដំបង,103815.0,113397.0,217212.0,51466.0,56489.0,107955.0,52349.0,56908.0,109257.0,2
2,ខេត្តកំពង់ចាម,79855.0,90810.0,170665.0,39568.0,45292.0,84860.0,40287.0,45518.0,85805.0,3
3,ខេត្តកំពង់ឆ្នាំង,36865.0,43368.0,80233.0,18045.0,20978.0,39023.0,18820.0,22390.0,41210.0,4
4,ខេត្តកំពង់ស្ពឺ,39925.0,49649.0,89574.0,20128.0,24466.0,44594.0,19797.0,25183.0,44980.0,5

In [9]:
df02.dtypes

Capital_Province                       object
Male                                  float64
Female                                float64
Total_Children_Aged_6-59_of_Months    float64
Male_(Phase_1)                        float64
Female_(Phase_1)                      float64
Total_Phase_1(Jan-Jun)                float64
Male_(Phase_2)                        float64
Female_(Phase_2)                      float64
Total_Phase_2(Jul-Dec)                float64
row_number                              int64
dtype: object

#### Calling Data of Geography from Json

In [10]:
import requests

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_66a8603700604c000123e144/json?page=1&page_size=100"
response2 = requests.get(url)
data02 = response2.json()

# Extract the 'items' list
items = data02['items']
df_geo = pd.DataFrame(items)
df_geo.head()

     type code       name_km           name_en  row_number
0  ខេត្ត​   01  បន្ទាយមានជ័យ  Banteay Meanchey           1
1  ខេត្ត​   02      បាត់ដំបង        Battambang           2
2  ខេត្ត​   03      កំពង់ចាម      Kampong Cham           3
3  ខេត្ត​   04   កំពង់ឆ្នាំង   Kampong Chhnang           4
4  ខេត្ត​   05     កំពង់ស្ពឺ      Kampong Speu           5

In [11]:
df_geo['full_name'] = df_geo['type'] + df_geo['name_km']
df_geo.head(n=10)

     type code       name_km           name_en  row_number           full_name
0  ខេត្ត​   01  បន្ទាយមានជ័យ  Banteay Meanchey           1  ខេត្ត​បន្ទាយមានជ័យ
1  ខេត្ត​   02      បាត់ដំបង        Battambang           2      ខេត្ត​បាត់ដំបង
2  ខេត្ត​   03      កំពង់ចាម      Kampong Cham           3      ខេត្ត​កំពង់ចាម
3  ខេត្ត​   04   កំពង់ឆ្នាំង   Kampong Chhnang           4   ខេត្ត​កំពង់ឆ្នាំង
4  ខេត្ត​   05     កំពង់ស្ពឺ      Kampong Speu           5     ខេត្ត​កំពង់ស្ពឺ
5  ខេត្ត​   06       កំពង់ធំ      Kampong Thom           6       ខេត្ត​កំពង់ធំ
6  ខេត្ត​   07          កំពត            Kampot           7          ខេត្ត​កំពត
7  ខេត្ត​   08        កណ្ដាល            Kandal           8        ខេត្ត​កណ្ដាល
8  ខេត្ត​   09        កោះកុង          Koh Kong           9        ខេត្ត​កោះកុង
9  ខេត្ត​   10        ក្រចេះ            Kratie          10        ខេត្ត​ក្រចេះ

#### Create one key column of targeted dataset to transform from Khmer to English as a whole

In [12]:
df02['Capital_Province'] = df_geo['name_en'].astype(str).str.replace(' ', ' ', regex=False)
df02

,Capital_Province,Male,Female,Total_Children_Aged_6-59_of_Months,Male_(Phase_1),Female_(Phase_1),Total_Phase_1(Jan-Jun),Male_(Phase_2),Female_(Phase_2),Total_Phase_2(Jul-Dec),row_number
0,Banteay Meanchey,72172.0,79307.0,151479.0,34617.0,36605.0,71222.0,37555.0,42702.0,80257.0,1
1,Battambang,103815.0,113397.0,217212.0,51466.0,56489.0,107955.0,52349.0,56908.0,109257.0,2
2,Kampong Cham,79855.0,90810.0,170665.0,39568.0,45292.0,84860.0,40287.0,45518.0,85805.0,3
3,Kampong Chhnang,36865.0,43368.0,80233.0,18045.0,20978.0,39023.0,18820.0,22390.0,41210.0,4
4,Kampong Speu,39925.0,49649.0,89574.0,20128.0,24466.0,44594.0,19797.0,25183.0,44980.0,5
5,Kampong Thom,17362.0,19730.0,37092.0,7750.0,8812.0,16562.0,9612.0,10918.0,20530.0,6
6,Kampot,42337.0,50490.0,92827.0,20537.0,24579.0,45116.0,21800.0,25911.0,47711.0,7
7,Kandal,90031.0,101115.0,191146.0,46387.0,53016.0,99403.0,43644.0,48099.0,91743.0,8
8,Koh Kong,11700.0,13279.0,24979.0,5999.0,6804.0,12803.0,5701.0,6475.0,12176.0,9
9,Kratie,19815.0,23184.0,42999.0,13365.0,14419.0,27784.0,6450.0,8765.0,15215.0,10
10,Mondul Kiri,6505.0,7953.0,14458.0,3521.0,3927.0,7448.0,2984.0,4026.0,7010.0,11
11,Phnom Penh,59955.0,71625.0,131580.0,28721.0,36991.0,65712.0,31234.0,34634.0,65868.0,12
12,Preah Vihear,23859.0,28079.0,51938.0,11791.0,14022.0,25813.0,12068.0,14057.0,26125.0,13
13,Prey Veng,90765.0,106575.0,197340.0,46469.0,54471.0,100940.0,44296.0,52104.0,96400.0,14
14,Pursat,55106.0,59666.0,114772.0,26463.0,28392.0,54855.0,28643.0,31274.0,59917.0,15
15,Ratanak Kiri,22584.0,23998.0,46582.0,11123.0,11987.0,23110.0,11461.0,12011.0,23472.0,16
16,Siemreap,104106.0,114840.0,218946.0,52254.0,58150.0,110404.0,51852.0,56690.0,108542.0,17
17,Preah Sihanouk,10473.0,11932.0,22405.0,4589.0,4953.0,9542.0,5884.0,6979.0,12863.0,18
18,Stung Treng,16203.0,18107.0,34310.0,8781.0,8974.0,17755.0,7422.0,9133.0,16555.0,19
19,Svay Rieng,25745.0,27523.0,53268.0,15974.0,17584.0,33558.0,9771.0,9939.0,19710.0,20
20,Takeo,80091.0,88052.0,168143.0,41641.0,46323.0,87964.0,38450.0,41729.0,80179.0,21
21,Oddar Meanchey,23551.0,24614.0,48165.0,13607.0,14183.0,27790.0,9944.0,10431.0,20375.0,22
22,Kep,3146.0,3891.0,7037.0,1290.0,1655.0,2945.0,1856.0,2236.0,4092.0,23
23,Pailin,4907.0,5098.0,10005.0,3135.0,3292.0,6427.0,1772.0,1806.0,3578.0,24
24,Tboung Khmum,60060.0,71167.0,131227.0,30209.0,35784.0,65993.0,29851.0,35383.0,65234.0,25
25,NaN,1994.0,1837.0,3831.0,962.0,920.0,1882.0,1032.0,917.0,1949.0,26

In [13]:
df02['Capital_Province'] = df02['Capital_Province'].fillna('National Hospital')
df02

,Capital_Province,Male,Female,Total_Children_Aged_6-59_of_Months,Male_(Phase_1),Female_(Phase_1),Total_Phase_1(Jan-Jun),Male_(Phase_2),Female_(Phase_2),Total_Phase_2(Jul-Dec),row_number
0,Banteay Meanchey,72172.0,79307.0,151479.0,34617.0,36605.0,71222.0,37555.0,42702.0,80257.0,1
1,Battambang,103815.0,113397.0,217212.0,51466.0,56489.0,107955.0,52349.0,56908.0,109257.0,2
2,Kampong Cham,79855.0,90810.0,170665.0,39568.0,45292.0,84860.0,40287.0,45518.0,85805.0,3
3,Kampong Chhnang,36865.0,43368.0,80233.0,18045.0,20978.0,39023.0,18820.0,22390.0,41210.0,4
4,Kampong Speu,39925.0,49649.0,89574.0,20128.0,24466.0,44594.0,19797.0,25183.0,44980.0,5
5,Kampong Thom,17362.0,19730.0,37092.0,7750.0,8812.0,16562.0,9612.0,10918.0,20530.0,6
6,Kampot,42337.0,50490.0,92827.0,20537.0,24579.0,45116.0,21800.0,25911.0,47711.0,7
7,Kandal,90031.0,101115.0,191146.0,46387.0,53016.0,99403.0,43644.0,48099.0,91743.0,8
8,Koh Kong,11700.0,13279.0,24979.0,5999.0,6804.0,12803.0,5701.0,6475.0,12176.0,9
9,Kratie,19815.0,23184.0,42999.0,13365.0,14419.0,27784.0,6450.0,8765.0,15215.0,10
10,Mondul Kiri,6505.0,7953.0,14458.0,3521.0,3927.0,7448.0,2984.0,4026.0,7010.0,11
11,Phnom Penh,59955.0,71625.0,131580.0,28721.0,36991.0,65712.0,31234.0,34634.0,65868.0,12
12,Preah Vihear,23859.0,28079.0,51938.0,11791.0,14022.0,25813.0,12068.0,14057.0,26125.0,13
13,Prey Veng,90765.0,106575.0,197340.0,46469.0,54471.0,100940.0,44296.0,52104.0,96400.0,14
14,Pursat,55106.0,59666.0,114772.0,26463.0,28392.0,54855.0,28643.0,31274.0,59917.0,15
15,Ratanak Kiri,22584.0,23998.0,46582.0,11123.0,11987.0,23110.0,11461.0,12011.0,23472.0,16
16,Siemreap,104106.0,114840.0,218946.0,52254.0,58150.0,110404.0,51852.0,56690.0,108542.0,17
17,Preah Sihanouk,10473.0,11932.0,22405.0,4589.0,4953.0,9542.0,5884.0,6979.0,12863.0,18
18,Stung Treng,16203.0,18107.0,34310.0,8781.0,8974.0,17755.0,7422.0,9133.0,16555.0,19
19,Svay Rieng,25745.0,27523.0,53268.0,15974.0,17584.0,33558.0,9771.0,9939.0,19710.0,20
20,Takeo,80091.0,88052.0,168143.0,41641.0,46323.0,87964.0,38450.0,41729.0,80179.0,21
21,Oddar Meanchey,23551.0,24614.0,48165.0,13607.0,14183.0,27790.0,9944.0,10431.0,20375.0,22
22,Kep,3146.0,3891.0,7037.0,1290.0,1655.0,2945.0,1856.0,2236.0,4092.0,23
23,Pailin,4907.0,5098.0,10005.0,3135.0,3292.0,6427.0,1772.0,1806.0,3578.0,24
24,Tboung Khmum,60060.0,71167.0,131227.0,30209.0,35784.0,65993.0,29851.0,35383.0,65234.0,25
25,National Hospital,1994.0,1837.0,3831.0,962.0,920.0,1882.0,1032.0,917.0,1949.0,26

In [14]:
df02.to_csv('02-Administering Vitamin A Supplementation - Cambodia.csv', index=False)

### Dataset 03: Administering Vitamin A Supplements to Children
(https://data.mef.gov.kh/datasets/pd_6842ab8adf8be20001ff3dc2)

In [3]:
import requests

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_6842ab8adf8be20001ff3dc2/json?page=1&page_size=10"
response = requests.get(url)
response.json()

{'items': [{'capital_province': 'Banteay Meanchey',
   'num_m': 72172.0,
   'num_f': 79307.0,
   'num_child_age_6_to_59_months': 151479.0,
   'num_m(p1)': 34617.0,
   'num_f(p1)': 36605.0,
   'total_child_p1(jan-jun)': 71222.0,
   'num_mc(p2)': 37555.0,
   'num_fc(p2)': 42702.0,
   'total_child_p2(jul-dec)': 80257.0,
   'row_number': 1},
  {'capital_province': 'Battambang',
   'num_m': 103815.0,
   'num_f': 113397.0,
   'num_child_age_6_to_59_months': 217212.0,
   'num_m(p1)': 51466.0,
   'num_f(p1)': 56489.0,
   'total_child_p1(jan-jun)': 107955.0,
   'num_mc(p2)': 52349.0,
   'num_fc(p2)': 56908.0,
   'total_child_p2(jul-dec)': 109257.0,
   'row_number': 2},
  {'capital_province': 'Kampong Cham',
   'num_m': 79855.0,
   'num_f': 90810.0,
   'num_child_age_6_to_59_months': 170665.0,
   'num_m(p1)': 39568.0,
   'num_f(p1)': 45292.0,
   'total_child_p1(jan-jun)': 84860.0,
   'num_mc(p2)': 40287.0,
   'num_fc(p2)': 45518.0,
   'total_child_p2(jul-dec)': 85805.0,
   'row_number': 3},
  {'capital_province': 'Kampong Chhnang',
   'num_m': 36865.0,
   'num_f': 43368.0,
   'num_child_age_6_to_59_months': 80233.0,
   'num_m(p1)': 18045.0,
   'num_f(p1)': 20978.0,
   'total_child_p1(jan-jun)': 39023.0,
   'num_mc(p2)': 18820.0,
   'num_fc(p2)': 22390.0,
   'total_child_p2(jul-dec)': 41210.0,
   'row_number': 4},
  {'capital_province': 'Kampong Speu',
   'num_m': 39925.0,
   'num_f': 49649.0,
   'num_child_age_6_to_59_months': 89574.0,
   'num_m(p1)': 20128.0,
   'num_f(p1)': 24466.0,
   'total_child_p1(jan-jun)': 44594.0,
   'num_mc(p2)': 19797.0,
   'num_fc(p2)': 25183.0,
   'total_child_p2(jul-dec)': 44980.0,
   'row_number': 5},
  {'capital_province': 'Kampong Thom',
   'num_m': 17362.0,
   'num_f': 19730.0,
   'num_child_age_6_to_59_months': 37092.0,
   'num_m(p1)': 7750.0,
   'num_f(p1)': 8812.0,
   'total_child_p1(jan-jun)': 16562.0,
   'num_mc(p2)': 9612.0,
   'num_fc(p2)': 10918.0,
   'total_child_p2(jul-dec)': 20530.0,
   'row_number': 6},
  {'capital_province': 'Kampot',
   'num_m': 42337.0,
   'num_f': 50490.0,
   'num_child_age_6_to_59_months': 92827.0,
   'num_m(p1)': 20537.0,
   'num_f(p1)': 24579.0,
   'total_child_p1(jan-jun)': 45116.0,
   'num_mc(p2)': 21800.0,
   'num_fc(p2)': 25911.0,
   'total_child_p2(jul-dec)': 47711.0,
   'row_number': 7},
  {'capital_province': 'Kandal',
   'num_m': 90031.0,
   'num_f': 101115.0,
   'num_child_age_6_to_59_months': 191146.0,
   'num_m(p1)': 46387.0,
   'num_f(p1)': 53016.0,
   'total_child_p1(jan-jun)': 99403.0,
   'num_mc(p2)': 43644.0,
   'num_fc(p2)': 48099.0,
   'total_child_p2(jul-dec)': 91743.0,
   'row_number': 8},
  {'capital_province': 'Koh Kong',
   'num_m': 11700.0,
   'num_f': 13279.0,
   'num_child_age_6_to_59_months': 24979.0,
   'num_m(p1)': 5999.0,
   'num_f(p1)': 6804.0,
   'total_child_p1(jan-jun)': 12803.0,
   'num_mc(p2)': 5701.0,
   'num_fc(p2)': 6475.0,
   'total_child_p2(jul-dec)': 12176.0,
   'row_number': 9},
  {'capital_province': 'Kratie',
   'num_m': 19815.0,
   'num_f': 23184.0,
   'num_child_age_6_to_59_months': 42999.0,
   'num_m(p1)': 13365.0,
   'num_f(p1)': 14419.0,
   'total_child_p1(jan-jun)': 27784.0,
   'num_mc(p2)': 6450.0,
   'num_fc(p2)': 8765.0,
   'total_child_p2(jul-dec)': 15215.0,
   'row_number': 10}],
 'total_items': 26,
 'page': 1,
 'page_size': 10,
 'total_pages': 3}

### Dataset 04: Cambodia Loan signed by sector of public external 2022
(https://data.mef.gov.kh/datasets/pd_66b498c349eb6c00013c129a)

In [60]:
import requests
import pandas as pd 

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_66b498c349eb6c00013c129a/json?page=1&page_size=10"
response = requests.get(url)
data07 = response.json()

# Extract the 'items' list
items = data07['items']
df = pd.DataFrame(items)
df = df.drop(columns=['row_number'])
df.head()

,quarter,i._infrastructure,1.1._transport,1.2._energy,1.3._irrigation,1.4._water_supply,1.5._other_infrastructures,ii._non-infrastructure,2.1._agriculture,2.2._health,2.3._education
0,Q1,0.00,0.00,0.00,0.0,0.0,0.00,317.24,0.0,259.47,57.78
1,Q2,238.46,238.46,0.00,0.0,0.0,0.00,101.01,0.0,101.01,0.00
2,Q3,602.03,437.56,0.00,0.0,0.0,164.47,0.00,0.0,0.00,0.00
3,Q4,613.77,479.86,133.91,0.0,0.0,0.00,268.00,121.0,27.00,70.00

In [61]:
df_transposed = df.transpose()

df_transposed.columns = df_transposed.iloc[0]  # Set first row as header
df_transposed = df_transposed[1:]              # Remove the first row

# Step 3: Reset index (optional, if you don't want row labels)
# df_transposed.reset_index(drop=True, inplace=True)
df_transposed.head()

quarter             Q1      Q2      Q3      Q4
i._infrastructure  0.0  238.46  602.03  613.77
1.1._transport     0.0  238.46  437.56  479.86
1.2._energy        0.0     0.0     0.0  133.91
1.3._irrigation    0.0     0.0     0.0     0.0
1.4._water_supply  0.0     0.0     0.0     0.0

In [54]:
df_transposed.rename(columns={'description': 'Quarter'}, inplace=True)
df_transposed

description,I.Infrastructure,Transport,Energy,Irrigation,Water Supply,Other Infrastructures,II.Non0infrastructure,Agriculture,Health,Education
q1,0.0,0.0,0.0,0.0,0.0,0.0,317.24,0.0,259.47,57.78
q2,238.46,238.46,0.0,0.0,0.0,0.0,101.01,0.0,101.01,0.0
q3,602.03,437.56,0.0,0.0,0.0,164.47,0.0,0.0,0.0,0.0
q4,613.77,479.86,133.91,0.0,0.0,0.0,268.0,121.0,27.0,70.0

In [55]:
df_transposed

description,I.Infrastructure,Transport,Energy,Irrigation,Water Supply,Other Infrastructures,II.Non0infrastructure,Agriculture,Health,Education
q1,0.0,0.0,0.0,0.0,0.0,0.0,317.24,0.0,259.47,57.78
q2,238.46,238.46,0.0,0.0,0.0,0.0,101.01,0.0,101.01,0.0
q3,602.03,437.56,0.0,0.0,0.0,164.47,0.0,0.0,0.0,0.0
q4,613.77,479.86,133.91,0.0,0.0,0.0,268.0,121.0,27.0,70.0

In [57]:
df_transposed.to_csv('03-Cambodia Loan signed by sector of public external 2022.csv')

In [59]:
df03 = pd.read_csv('03-Cambodia Loan signed by sector of public external 2022.csv')
df03.head()

,Quarter,I._Infrastructure,1.1._Transport,1.2._Energy,1.3._Irrigation,1.4._Water_Supply,1.5._Other_Infrastructures,II._Non-Infrastructure,2.1._Agriculture,2.2._Health,2.3._Education
0,Q1,0.00,0.00,0.00,0,0,0.00,317.24,0,259.47,57.78
1,Q2,238.46,238.46,0.00,0,0,0.00,101.01,0,101.01,0.00
2,Q3,602.03,437.56,0.00,0,0,164.47,0.00,0,0.00,0.00
3,Q4,613.77,479.86,133.91,0,0,0.00,268.00,121,27.00,70.00

In [72]:
import requests

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_674d2fa063ddef0001b3c538/json?page=1&page_size=200"
response = requests.get(url)
data05 = response.json()

# Extract the 'items' list
items = data05['items']
df05 = pd.DataFrame(items)
df05 = df05.drop(columns=['row_number'])
df05

    ក្រុម   ថ្នាក់ ថ្នាក់រង                                    សេចក្ដីអធិប្បាយ
0     011     None     None                          ការដាំដុះដំណាំអាយុកាលខ្លី
1    None  0111(1)     None  ការដាំដុះដំណាំធញ្ញជាតិ (លើកលែងស្រូវ) ដំណាំសណ្ដ...
2    None     None    01111                                  ការដាំដុះដំណាំពោត
3    None     None    01112                       ការដាំដុះដំណាំសណ្ដែកបន្លែ(២)
4    None     None    01113                    ការដាំដុះដំណាំ​សណ្ដែក​ប្រេង​(៣)
..    ...      ...      ...                                                ...
195  None     None    08931    សកម្មភាពផលិតអំបិលពីទឹកសមុទ្រឬប្រភពទឹកប្រៃដទៃទៀត
196  None     None    08932  សកម្មភាពបំបែក បន្សុទ្ធ និងរែងយកអំបិល របស់ផលិតក...
197  None     0899     None  សកម្មភាព​ផ្សេង​ទៀត​ នៃ​ប្រតិបត្តិការ​និង​អាជីវ...
198  None     None    08991  សកម្មភាពយករ៉ែ​ធ្យូង​​ធម្ម​ជាតិ​ សម្រាប់​ធ្វើ​ខ...
199  None     None    08992                សកម្មភាពយក​រ៉ែ​ត្បូង​ថ្ម​មាន​តម្លៃ​

[200 rows x 4 columns]

In [66]:
df05.to_csv('pattern.csv', index=False)